* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f6f0eb;
  font-family: 'Poppins', sans-serif;
}

html {
  /* overflow-x: hidden;
  height: 100vh; */
  scroll-behavior: smooth;
}

a {
  text-decoration-line: none;
  color: inherit;
}

header {
  background-color: #fff;
  padding: 24px 32px;
}

.header-content {
  max-width: 1290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

}

nav {
  display: flex;
  /* gap: 60px; */
}

nav a {
  font-weight: 700;
  font-size: 20px;
  color: #492118;
}

nav a+a {
  margin-left: 60px;
}

.logo {
  width: 50px;
}

img {
  width: 100%;
}

main {
  padding: 0 24px;
}

.hero-section {
  margin-top: 100px;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.hero-section p {
  color: #492118;
  text-align: center;
  font-size: 24px;
}

.section {
  margin-top: 120px;
}

.section .container {
  max-width: 960px;
}

.section h2 {
  font-weight: 700;
  font-size: 48px;
  color: #492118;
  text-align: center;
}

.go-to-top {
  text-align: right;
  max-width: 960px;
  margin: 0 auto;
  font-size: 32px;
  margin-top: 80px;
}

.go-to-top a {
  text-decoration-line: underline;
}

.footer-text {
  text-align: center;
  color: #858585;
  font-size: 24px;
  margin-top: 64px;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  display: none;
}

 .hamburger-menu-container {
   overflow: hidden; 
  position: relative;
   width:100px;
  height:100px; 
  display: none;
} 

 .hamburger-menu {
  width: 200px;
  height: 200px;
  background-color: white;
  
  align-items: flex-end;
  border-radius: 50%; 
   position: absolute; 
  top:-113px;
  right: -111px;
  cursor: pointer;
} 
 .hamburger-icon {
  font-size: 30px;
   position: absolute;
  bottom: 32px;
  left: 40px; 
} 

@media (max-width: 1200px) {
  nav a {
    font-size: 16px;
  }

  nav a+a {
    margin-left: 48px;
  }

  header {
    padding: 16px 24px;
  }
}

@media (max-width: 960px) {
  nav a {
    font-size: 12px;
  }

  /* nav a + a {
    margin-left: 40px;
  }*/

  .hero-section {
    margin-top: 32px;
  }

  .section {
    margin-top: 42px;
  }

  .hero-section p {
    font-size: 10px;
  }

  .section h2 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header {
    background-color: #f6f0ebb7;
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    /* padding: 8px 24px; */
  }
  .header-content{
  min-height:100px ;

  }

  nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    right: 24px;
    top: 24px;
    padding: 24px;
    /* backdrop-filter: blur(8px); */
     display: none; 
  }
  nav a+a {
    margin: 0;
    margin-top: 16px;
  }
  .close-icon,
      .hamburger-menu-container {
          display: block;
      }
  .menu-open nav{
 display: flex; 
}
 .menu-open .hamburger-menu-container {
  display: none;  
}}
