* {
    box-sizing: border-box;
}

body {
    background-color: #DECDAC;
    margin: 0;
    font-family: Inika;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.newsletter-card {
    width: 380px;
    height: 180px;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.3);
    display: none;
}

.news-btn {
    width: 150px;
    border: none;
    height: 50px;
    background-color: #EBBF53;
    border-radius: 31px;
    box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.3);
    font-size: 19px;
    font-family: heebo;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* display: block; */
}

.popup {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
    padding: 8px;


}
.img-container{
    display: flex;
}
.img-container img{
position: relative;
top: -30px;
}

.text-container{
     padding-top: 33px;
    padding-left: 34px;
}
.text-container h2 p{
 font-family: inika;
    font-weight: 400;
}
/* .close-icon {
    font-weight: 700;
    font-size: 48px;
    left: 16px;
    cursor: pointer;

} */